<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
  
<suite name="Free CRM Application test automation Suite" >
<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReportListener"/>
</listeners>

  <test name="FREE CRM TESTDATA" >
  
    <classes>
      <class name="com.crm.qa.testdata.LoginPageTest"/>
     <class name="com.crm.qa.testdata.HomePageTest"/>
     <class name="com.crm.qa.testdata.ContactsPageTest"/>
     
     
    </classes>
  </test>
</suite>
